<span style="color: blue; font-weight:bold;">{{username}}</span>
<span style="color: brown;">[{{day}}/{{month}}/{{year}} {{hour}}:{{minutes}}:{{seconds}}] </span>
<span style="color: green;"> {{message}}</span> <br>